.nav-logo {
  width: 100px;
}

nav {
  padding: 0 30px;
}

.nav-item {
  margin: 0 10px;
}

.jumbotron {
  margin: 20vh;
}

.jumbo-header {
  font-weight: 500;
}

.after-wave {
  background-color: #019788;
}
